* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

window#waybar {
    background-color: #161622;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 6px 18px;
    margin: 6px 3px;
    border-radius: 4px;
    background-color: #29293c;
    color: #c1cae7;
}

#workspaces button.active {
    color: #232332;
    background-color: rgb(168, 156, 212);
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #15151e;
    background-color: #b2bad8;
}

#workspaces button.urgent {
    background-color: #b66e83;
}

#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
    border-radius: 4px;
    margin: 6px 3px;
    padding: 6px 12px;
    background-color: #212130;
    color: #191926;
}

#custom-power {
    margin-right: 6px;
}

#custom-logo {
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 5px;
    font-size: 15px;
    border-radius: 8px 0px 0px 8px;
    color: #395fe6;
}

#memory {
    background: #d49f7e;
}

#battery {
    background-color: #d48098;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background: #7fb6ad;
    color: #1a1a25;
}

#battery.charging {
    background-color: #7eb07a;
    color: #171721;
}

#backlight {
    background-color: #e8a67e;
}

#wireplumber {
    background-color: #e7d09e;
}

#network {
    background-color: #8ccac0;
    padding-right: 17px;
}

#clock {
    font-family: JetBrainsMono Nerd Font;
    background-color: #b690e5;
}

#custom-power {
    background-color: #edbdbd;
}


tooltip {
    border-radius: 8px;
    padding: 15px;
    background-color: #1c2230;
}

tooltip label {
    padding: 5px;
    background-color: #1c2230;
}
